body, html {
    font-family: "Roboto", sans-serif;
    background: #F8F7F6;
    height: 100%;
    margin: 0;
  }

  .logo {
    background-image: url('/img/logo.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  .active {
    color: #5A5A5A;
  }

  nav{
    background-color: #861F41;
    padding-top: 15px;
    padding-bottom: 15px;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li{
        a{
          text-decoration: none;
          color: black;
        }
        // margin-left: 10px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        // cursor: e-resize;
        // display: block;
      }
      li:hover{
        color: white;
        background-color: #5A5A5A;
        a{
          color: white;
        }
      }
    }
  }

#parent-cart{
    padding: 5px;
    display: block;
  }

#image-cart{
  padding: 1px;
  float: left;
}

#text-cart{
    padding: 1px;
    float: top;
}

#buttons-cart{
  padding: 1px;
  float:bottom;
}

#parent{
  padding: 5px;
  display: block;
}

#image{
padding: 1px;
float: left;
}

#text{
  padding: 1px;
  float:top;
}

#buttons{
padding: 1px;
float:bottom;
}